body h1 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bag-items-container,
.prepped-container,
.toolbelt-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.toolbelt-container {
    justify-content: space-between;
}

.tool {
    padding: 20px;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0.1);
}

.tool--selected {
    background: pink;
}

.tool-info {
    font-size: 10px; 
}

.bag-item {
    /*cursor: pointer;*/
    font-size: 12px;
    padding: 4px;
    margin: 10px 10px 10px 0;
    background: rgba(0,0,0,0.1);
    transition: opacity 500ms ease-in;
}

.bag-item--has-skills {
    font-size: 12px;
    flex-grow: 0;
    padding: 10px;
    margin: 10px 10px 10px 0;
    background: rgba(0,0,0,0.3);
    transition: opacity 500ms ease-in;
}


.bag-item-name {
    font-weight: 700;
}

.bag-item-prepped {
    background: lightgreen;
}

.bag-item button {
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 12px;
    padding: 2px 5px;
}

.bag-item:hover {
    /*background: rgba(0,0,0,0.1);*/
}

.bag-item--processing {
    background-color: lightblue;
    transition-property: transform, opacity, background-color;
    transition-duration: 12s;
    transition-timing-function: cubic-bezier(0.04, 0.9, 0.11, 0.9);
    transform: scale(.7, .7)
}

.bag-items-enter {
    opacity: 0.01;
}

.bag-items-enter.bags-item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.bag-items-leave {
    opacity: 1;
}

.bag-items-leave.bag-items-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.item-count {
    float: right;
}