body h1 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bag-items-container,
.prepped-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.toolbelt-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tool {
    padding: 9px 15px;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0.1);
}

.tool--selected {
    background: lightblue;
}

.tool-info {
    font-size: 10px; 
}

.bag-item {
    /*cursor: pointer;*/
    font-size: 12px;
    padding: 7px;
    margin: 10px 10px 10px 0;
    background: rgba(0,0,0,0.1);
    transition: opacity 500ms ease-in;
}

.bag-item--has-no-skills {
    color: rgba(0,0,0,0.2) !important;
    background: rgba(0,0,0,0.1) !important;
}

.bag-item-name {
    font-weight: 700;
}

.bag-item-prepped {
    /* background: lIightgreen; */
}

.bag-item button {
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 12px;
    padding: 0px 5px;
}

.bag-item:hover {
    /*background: rgba(0,0,0,0.1);*/
}

.bag-item--processing {
    background: rgba(0,0,0,0.05) !important;
    transition-property: transform, opacity, background-color;
    transition-duration: 12s;
    transition-timing-function: cubic-bezier(0.04, 0.9, 0.11, 0.9);
    transform: scale(.7, .7)
}

.bag-items-enter {
    opacity: 0.01;
}

.bag-items-enter.bags-item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.bag-items-leave {
    opacity: 1;
}

.bag-items-leave.bag-items-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.bag-item-protein {
    background: #FF6347;
}

.bag-item-vegetable {
    background: #90EE90;
    
}
.bag-item-fruit {
    background: #FFBBFF;
}

.bag-item-grain {
    background: #FEF0C9;
}
.bag-item-herb {
    background: #7FFFD4;
}
.bag-item-bean {
    background: rgba(0,0,0,0.3);
}
